[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[requires]

python_version = "3.5"


[packages]

requests = "*"
python-dotenv = "*"
xmltodict = "*"
python-cli-ui = "*"


[dev-packages]

